/* 整體背景為黑色 */
body {
  margin: 0;
  background-color: #000000; /* 設定背景為黑色 */
  color: #007bff;            /* 設定全域文字為藍色 */
}

header {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); /* 調整陰影顏色以適應黑色背景 */
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #1a1a1a;  /* 容器為深灰色，避免與背景完全融為一體 */
  color: #007bff;            /* 藍色文字 */
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

.container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 10px;
}

#app {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
  background-color: #1a1a1a;
}

#app h2 {
  font-size: 2rem;
  border-bottom: 4px solid #003366; /* 藍色邊框*/
  color: #003366;
  margin: 0 0 1rem 0;
}

#app p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #003366;
  background-color: transparent; /* 背景變透明，顯示容器底色 */
  color: #003366;
  padding: 0.5rem;
  border-radius: 25px;
}